<%= form_for(@aisle) do |f| %>
  <% if @aisle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aisle.errors.count, "error") %> prohibited this aisle from being saved:</h2>

      <ul>
      <% @aisle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :section %><br>
    <%= f.text_field :section %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
